/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.mixins {
  font-size: 5rem;
  color: purple;
}
.secondthought {
  font-size: 2rem;
  color: aqua;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0rem;
  margin-bottom: 0rem;
  background-color: black;
}
@media (max-width: 500px) {
  .container {
    width: 500px;
    height: auto;
  }
}
.container h1 {
  font-size: 5rem;
  color: purple;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Lobster', cursive;
}
@media (max-width: 500px) {
  .container h1 {
    width: 500px;
    text-align: center;
    display: flex;
  }
}
.container h2 {
  font-size: 2rem;
  color: aqua;
  background-color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Lobster', cursive;
}
@media (max-width: 500px) {
  .container h2 {
    width: 500px;
    justify-content: center;
    display: flex;
  }
}
.container img {
  width: 100%;
  height: 60%;
}
@media (max-width: 500px) {
  .container img {
    display: none;
  }
}
.sidebar {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0rem;
}
@media (max-width: 500px) {
  .sidebar {
    height: 200%;
  }
}
.sidebar nav {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sidebar nav a:hover {
  color: blue;
}
.sidebar nav a {
  background-color: black;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: aqua;
  height: 100%;
}
@media (max-width: 500px) {
  .sidebar nav a {
    color: white;
    width: 100%;
    justify-content: space-evenly;
  }
}
.sidebar .after {
  width: 100%;
  background-color: black;
  height: auto;
  text-align: center;
  font-family: 'Lobster', cursive;
}
@media (max-width: 500px) {
  .sidebar .after {
    width: 100%;
    height: auto;
    text-align: center;
  }
}
.sidebar .after main {
  font-size: 1.5rem;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.sidebar .after main p {
  margin: 10px;
}
.sidebar .after section {
  font-size: 1.5rem;
  color: white;
  justify-content: center;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .sidebar .after section {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: auto;
  }
}
.sidebar .after section #Skills {
  font-family: 'Lobster', cursive;
  border-collapse: collapse;
  width: auto;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.sidebar .after section #Skills td,
.sidebar .after section #Skills th {
  border: 1px solid #ddd;
  padding: 8px;
}
.sidebar .after section #Skills tr:nth-child(even) {
  background-color: black;
}
.sidebar .after section #Skills th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color: white;
}
.sidebar .after section #history {
  font-family: 'Lobster', cursive;
  border-collapse: collapse;
  width: auto;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}
.sidebar .after section #history td,
.sidebar .after section #history th {
  border: 1px solid #ddd;
  padding: 8px;
}
.sidebar .after section #history tr:nth-child(even) {
  background-color: black;
}
.sidebar .after section #history th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color: white;
}
